.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 76px;
    margin-top: 28px;
}

.facebook-icon {
    background-image: url(../assets/svg/facebook-icon.svg);
    background-size: 100% 100%;
    width: 18%;
}

.pinterest-icon {
    background-image: url(../assets/svg/pinterest.svg);
    background-size: 100% 100%;
    width: 18%;
}

.twitter-icon {
    background-image: url(../assets/svg/twitter.svg);
    background-size: 100% 100%;
    width: 18%;
}

.swarm-icon{
    background-image: url(../assets/svg/swarm.svg);
    background-size: 100% 100%;
    width: 18%;
}

.tumblr-icon {
    background-image: url(../assets/svg/tumblr.svg);
    background-size: 100% 100%;
    width: 18%;
}

.display-item__details.item {
    background-color: #eaf1f7;
}

.back{
    text-decoration: none;
    color: #999;
}

@media (max-width: 767px) {
    .display-item__details.item h2{
        font-size: 1.6em;
        text-align: center;
    }

    .ex-ico {
        margin: auto;
    }

    .display-item {
        border: 0;
    }
}