.topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 56px;
    background: #FFFFFF;
}

.topbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1.5rem;
}

.nav-middle-space {
    flex: 1;
}

.topbar__logo a {
    text-decoration: none;
    font-size: 1.5rem;
}

.topbar__navigation-items {
    margin-right: 0.5rem;
}

.topbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.topbar__navigation-items li {
    padding: 0 0.5rem;
}

.topbar__navigation-items a {
    text-decoration: none;
    color: #606060;
}

.logo {
    background-image: url(../../assets/svg/logo.svg);
    background-size:100% 100%;
    width: 200px;
    height: 50px;
}

@media (max-width: 768px) {
    .topbar__navigation-items {
        display: none;
    }
}

@media (min-width: 769px) {
    .topbar__navigation-items {
        margin-right: 0;
    }
}