.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Arial;
}

main {
  margin-top: 56px;
  height: calc(100vh - 50px);
  background: #969696;
  background: -moz-linear-gradient(top, #A6A6A6 0%, #FFFFFF 1%);
  background: -webkit-linear-gradient(top, #A6A6A6 0%, #FFFFFF 1%);
  background: linear-gradient(to bottom, #A6A6A6 0%, #FFFFFF 1%);
  padding: 2.5rem;
}

.navigation a {
  color: #000;
  margin-top: 100px;
  top: 100px;
}

.xx{
  color: #000;
  margin-top: 100px;
  top: 100px;
}
